<p>{{money | currency}}</p>
<p>{{name | uppercase}}</p>
<p>{{today | date}}</p>
<p>{{money | currency : "₺"}} </p>
<p>{{money | currency : "EUR"}} </p>
<br>
<p>{{today | date : 'medium'}}</p>
<p>{{today | date : 'fullDate'}}</p>
<p>{{{money, name }| json}}</p>
<p>{{name|slice:2:3}}</p>
<p>{{money|percent}}</p>
<p>{{titleOfTheBook|titlecase}}</p>

<button disabled (click)="loveYouPlus1()">love you</button>

<div *ngFor="let person of people | keyvalue">
      {{ person.key }}: {{ person.value }}
  <hr>
</div>

<hr>
custom pipe => {{titleOfTheBook | customPipe:5:9}}
